<h2> Prosta Galeria<h2>
</br>	
</br>
</br>
<h4> Simple Gallery application. </h4>
</br>	
<h4>Application uses carrierwave gem to upload photos.
</h4>
</br>
<h4> Application has 2 models: Galleries and Photos. Galleries has many Photos and Photos belong to Galleries </h4>
</br>
<h4>Mini_magick gem limits of using memory.
</h4>
</br>
<h4>Log via Facebook and have fun.
</h4> 
</br>
<h4> So try it!!</h4>
